@import "../../globalStyles.scss";

.container {
  @extend .width;
  @extend .verticalMargin;

  // & h2 {
  //   font-size: 2rem;
  // }

  & span {
    font-size: 1.2rem;
    font-weight: 500;
  }

  & section {
    box-shadow: $card-shadow;
    padding: 32px;
    border-radius: $card-radius;
    margin-block: 20px;

    & h4 {
      font-size: 1.5rem;
      margin-bottom: 16px;
      font-weight: 500;
    }

    & p {
      color: $text-blue;
    }
  }
}
