@import "../../globalStyles.scss";

.imgContainer {
  // aspect-ratio: 1 / 1;
  aspect-ratio: 3 / 2;
  // height: 20rem;
  // width: 70%;
  margin: auto;
  background-repeat: no-repeat;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1279px) {
  .imgContainer {
    width: 100%;
    height: revert;
    margin-block: 2rem;
  }
}
