@import "../../globalStyles.scss";

.container > div {
  @extend .width;
  display: flex;

  & h2 {
    flex: 1;
    // font-weight: 500;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
}

.logoContainer {
  flex: 2;

  & span {
    font-size: 1.2rem;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.orangeText {
  color: $main-orange;
}

.carouselLink:hover {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .container > div {
    display: revert;
  }

  .container h2 {
    margin-top: 1rem;
  }

  .logoContainer > div {
    justify-content: center;
  }

  .compLogoContainer img {
    height: 5rem;
    width: 60%;
  }
}
